<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{loadedRecipe.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDeleteRecipe()">
        <ion-icon name="trash" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-row>
    <ion-col no-padding>
      <ion-img [src]="loadedRecipe.imageUrl"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h1 text-center>{{loadedRecipe.title}}</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let x of loadedRecipe.ingredients">
          {{x}}
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
