<ion-header>
  <ion-toolbar color="danger">
    <ion-title><h2>Syncing</h2></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" aria-disabled="false" aria-hidden="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center ion-text-wrap">
  <ion-grid>
    <ion-card>
    <ion-row>
      <ion-card-header>
        <ion-card-title>
          <h2>{{log}}</h2>
        </ion-card-title>
        <ion-card-subtitle>
          <p>{{logs}}</p>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-row>
  </ion-card>
    <ion-row *ngIf="!deleteAllData" class="column">
      <ion-col class="text-class-center" size=4>
        <div class="circle" (click)="fullSync()">
          <ion-icon class="icon" name="sync" size="large"></ion-icon>
          SYNC
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="deleteAllData">
      <ion-col>
          <ion-button size="large" color="danger" expand="block" (click)="fullImport()">reset database</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="wipeout">
      <ion-col>
        <ion-card>
          <ion-item lines="none">
            <ion-checkbox slot="start" (click)="wipeout()"></ion-checkbox>
            <ion-label class="ion-text-wrap">Wipe all data from device and Sync again</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
