<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Test Selection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
      
          <ion-row>
            <ion-col>
            <ion-button href="/assign" fill="solid" color="danger" expand="block">
                <ion-icon name="add" slot="icon-only"></ion-icon>
                Create Tests</ion-button>
            </ion-col>
          </ion-row>
      <ion-row>
        <ion-col>
            <ion-button className="alltest" href="/assign" expand="block"  >
                <ion-icon name="globe" slot="icon-only"></ion-icon>
                All tests
            </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col className="ion-text-center" size="4">

            <ion-button href="/assign" className="squarebutton" fill="clear"><div className="divclass">

                <ion-icon className="iconsize" slot="icon-only" name="shuffle"></ion-icon>
Grade <br />Crossings <br />Tests
</div></ion-button>
        </ion-col>
        <ion-col className="ion-text-center" size="4">
            <ion-button href="/assign" className="squarebutton" fill="clear"><div className="divclass">
                <ion-icon className="iconsize" slot="icon-only" name="alertCircleOutline"></ion-icon>
Defect <br />Detector<br />  Tests
</div></ion-button>

        </ion-col>

        <ion-col className="ion-text-center" size="4">
            <ion-button href="/assign" className="squarebutton" fill="clear"><div className="divclass">
                <ion-icon className="iconsize" slot="icon-only" name="construct"></ion-icon>
Signal<br /> Structure<br /> Tests
</div></ion-button>
        </ion-col>


    </ion-row>
    <ion-row>

        <ion-col className="ion-text-center" size="4">
            <ion-button href="/assign" className="squarebutton" fill="clear"><div className="divclass">
                <ion-icon className="iconsize" slot="icon-only" name="lockClosed"></ion-icon>
Locking <br />Tests
</div></ion-button>
        </ion-col>
        <ion-col className="ion-text-center" size="4">

            <ion-button href="/assign" className="squarebutton" fill="clear"><div className="divclass">
                <ion-icon className="iconsize" slot="icon-only" name="codeWorking"></ion-icon>
Bridge<br /> Tests
</div></ion-button>
        </ion-col>
        <ion-col className="ion-text-center" size="4">
            <ion-button href="/assign" className="squarebutton" fill="clear"><div className="divclass">
                <ion-icon className="iconsize" slot="icon-only" name="megaphone"></ion-icon>
Signal<br /> Tests
</div></ion-button>
        </ion-col>
    </ion-row>

    <ion-row>

        <ion-col className="ion-text-wrap" size="4">
            <ion-button href="/assign" className="squarebutton" fill="clear"><div className="divclass">
                <ion-icon className="iconsize" slot="icon-only" name="toggle"></ion-icon>
Switch<br/> Tests
</div></ion-button>
        </ion-col>
        <ion-col className="ion-text-center" size="4">
            <ion-button href="/assign" className="squarebutton" fill="clear"><div className="divclass">
                <ion-icon className="iconsize" slot="icon-only" name="gitMergeOutline"></ion-icon>
Relay<br /> Tests
</div></ion-button>
        </ion-col>
        <ion-col className="ion-text-center" size="4">
            <ion-button href="/assign" className="squarebutton" fill="clear"><div className="divclass">
                <ion-icon className="iconsize" slot="icon-only" name="stopwatch"></ion-icon>
Timing<br /> Tests
</div></ion-button>
        </ion-col>
    </ion-row>

    <ion-row >

        <ion-col className="ion-text-center" size="4">
            <ion-button href="/assign" className="squarebutton" fill="clear"><div className="divclass">
                <ion-icon className="iconsize" slot="icon-only" name="flashOff"></ion-icon>
Grounds<br /> Test
</div></ion-button>
        </ion-col>

        <ion-col className="ion-text-center" size="4">
            <ion-button href="/assign" className="squarebutton" fill="clear"><div className="divclass">
                <ion-icon className="iconsize" slot="icon-only" name="linkSharp"></ion-icon>
Insulation<br /> Tests
</div></ion-button>
        </ion-col>

        <ion-col className="ion-text-center" size="4">
            <ion-button href="/assign" className="squarebutton" fill="clear"><div className="divclass">
                <ion-icon className="iconsize" slot="icon-only" name="calendar"></ion-icon>
Weekly<br /> Crossing<br /> Tests
</div></ion-button>
        </ion-col>

    </ion-row>
    <ion-row>

        <ion-col className="ion-text-center" size="4">
            <ion-button href="/assign" className="squarebutton" fill="clear"><div className="divclass">
                <ion-icon className="iconsize" slot="icon-only" name="train"></ion-icon>
Track<br /> Circuits<br /> Tests
</div></ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
