<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Test Selection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
      
          <ion-row>
            <ion-col>
            <ion-button href="/assign" fill="solid" color="danger" expand="block">
                <ion-icon name="add" slot="icon-only" size="large"></ion-icon>
                Create Tests</ion-button>
            </ion-col>
          </ion-row>
      <ion-row>
        <ion-col>
            <ion-button className="alltest" href="/assign" expand="block"  >
                <ion-icon name="globe" slot="icon-only"></ion-icon>
                All tests
            </ion-button>
        </ion-col>
      </ion-row>
      <!-- the 9x9 -->
      <ion-row class="text-class-center">
        <ion-col class="text-class-center" size="4">
          <ion-button fill="clear" class="squarebutton">
            <div class="divclass">
          <ion-icon name="shuffle" size="large"></ion-icon>
          <br/>
          Grade<br/> Crossings
        </div>
        </ion-button>
        </ion-col>

        <ion-col class="text-class-center" size="4">
          <ion-button fill="clear" class="squarebutton">
            <div class="divclass">
          <ion-icon name="alert-circle-outline" size="large"></ion-icon>
          <br/>
          Defect<br/> Detector<br/> Tests
          </div>
        </ion-button>
        </ion-col>

        <ion-col class="text-class-center" size="4">
          <ion-button fill="clear" class="squarebutton">
            <div class="divclass">
          <ion-icon name="construct" size="large"></ion-icon>
          <br/>
          Signal<br/> Structure<br/> Tests
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
      <!---->
      <ion-row class="text-class-center">
        <ion-col class="text-class-center" size="4">
          <ion-button fill="clear" class="squarebutton">
            <div class="divclass">
          <ion-icon name="lock-closed" size="large"></ion-icon>
          <br/>
          Locking<br/> Tests
            </div>
          </ion-button>
        </ion-col>

        <ion-col class="text-class-center" size="4">
          <ion-button fill="clear" class="squarebutton">
            <div class="divclass">
          <ion-icon name="code-working" size="large"></ion-icon>
          <br/>
          Bridge<br/> Tests
            </div>
          </ion-button>
        </ion-col>
        <ion-col class="text-class-center" size="4">
          <ion-button fill="clear" class="squarebutton">
            <div class="divclass">
          <ion-icon name="megaphone" size="large"></ion-icon>
          <br/>
          Signal<br/> Tests
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
      <!---->
      <ion-row class="text-class-center">
        <ion-col class="text-class-center" size="4">
          <ion-button fill="clear" class="squarebutton">
            <div class="divclass">
          <ion-icon name="toggle" size="large"></ion-icon>
          <br/>
          Switch<br/> Tests
            </div>
          </ion-button>
        </ion-col>

        <ion-col class="text-class-center" size="4">
          <ion-button fill="clear" class="squarebutton">
            <div class="divclass">
          <ion-icon name="git-merge-outline" size="large"></ion-icon>
          <br/>
          Relay<br/> Tests
            </div>
          </ion-button>
        </ion-col>
        <ion-col class="text-class-center" size="4">
          <ion-button fill="clear" class="squarebutton">
            <div class="divclass">
          <ion-icon name="stopwatch" size="large"></ion-icon>
          <br/>
          Timing<br/> Tests
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
      <!---->
      <ion-row class="text-class-center">
        
        <ion-col class="text-class-center" size="4">
          <ion-button fill="clear" class="squarebutton">
            <div class="divclass">
          <ion-icon name="flash-off" size="large"></ion-icon>
          <br/>
          Grounds<br/> Tests
          </div>
        </ion-button>
        </ion-col>

        <ion-col class="text-class-center" size="4">
          <ion-button fill="clear" class="squarebutton">
            <div class="divclass">
          <ion-icon name="link-sharp" size="large"></ion-icon>
          <br/>
          Insulation<br/> Tests
            </div>
          </ion-button>
        </ion-col>
        <ion-col class="text-class-center" size="4">
          <ion-button fill="clear" class="squarebutton">
            <div class="divclass">
          <ion-icon name="calendar" size="large"></ion-icon>
          <br/>
          Weekly<br/> Crossing<br/> Tests
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
      <!---->
      <ion-row class="text-class-center">
        <ion-col class="text-class-center" size="4"></ion-col>
        <ion-col class="text-class-center" size="4">
          <ion-button fill="clear" class="squarebutton">
            <div class="divclass">
          <ion-icon name="train" size="large"></ion-icon>
          <br/>
          Track<br/> Circuits<br/> Tests
            </div>
          </ion-button>
        </ion-col>
        <ion-col class="text-class-center" size="4"></ion-col>
      </ion-row>
</ion-grid>
</ion-content>
