.squarebutton {
	width: 100px;
	height: 100px;
	font-weight: bold;
}

.divclass {
	flex-direction: column;
	display: flex;
	align-items: center;
	color: black;
}
.alltest {
	--background: white;
	color: black;
}

.iconsize {
	font-size: 20px;
}

.theme {
	--background: #eb445a;
	color: white;
}

.cardhead {
	background-color: rgba(235, 235, 235, 0.699);
}

.slidecard {
	width: 200px;
}

.slidestatus {
	background-color:lightgreen
}

.zero{
	background-color: rgb(255, 100, 100);
	border-radius: 45%;
}

.one{
	background-color: lightseagreen;
	border-radius: 45%;
}

.id {
	background-color: rgb(255, 100, 100);
}

.bb {
	padding-top: -10px;
}

.pagination{
	//--bullet-background: red;
	--bullet-background-active: rgb(252, 231, 188);
	display: flexbox;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
	white-space: normal;
	--ion-text-wrap: wrap;
}

.swiper-slide, .swiper-pagination {
    bottom: 20px! important;
}