<ion-header>
  <ion-toolbar color="danger">
    <ion-title><h2>Create Inspection</h2></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button
        menu="first"
        aria-disabled="false"
        aria-hidden="false"
      ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createInspectionForm" (ngSubmit)="onSave()">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header mode="ios" class="cardhead">
            <ion-card-title>Test Information</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-label position="fixed">Test ID:</ion-label>
                <ion-item>
                  <ion-input formControlName="TestID"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessage.testID">
                  <ng-container
                    *ngIf="testId.hasError(error.type) && (testId.dirty || testId.touched)"
                  >
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header mode="ios" class="cardhead">
            <ion-card-title>Asset Information</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-label position="fixed">Asset ID: {{assetid? assetid : ""}}</ion-label>
                <ion-item [disabled]="assetid">
                  <ion-select
                    value="AssetID"
                    interface="popover"
                    formControlName="AssetID"
                    [ngModel] = "assetid"
                  >
                    <ion-select-option
                      *ngFor="let a of (desktop ? assets[0] : assets)"
                      value="{{a.AssetID}}"
                      >{{a.AssetID}}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header mode="ios" class="cardhead">
            <ion-card-title>Personnel Information</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-label position="fixed">Inspector ID:</ion-label>
                <ion-item>
                  <ion-input formControlName="InspectorID"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessage.empID">
                  <ng-container
                    *ngIf="insId.hasError(error.type) && (insId.dirty || insId.touched)"
                  >
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>
              </ion-col>
              <ion-col>
                <ion-label position="fixed">Supervisor ID:</ion-label>
                <ion-item>
                  <ion-input formControlName="SupervisorID"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessage.empID">
                  <ng-container
                    *ngIf="supId.hasError(error.type) && (supId.dirty || supId.touched)"
                  >
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header mode="ios" class="cardhead">
            <ion-card-title>Inspection Information</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-label position="fixed">Frequency:</ion-label>
                <ion-item>
                  <ion-select
                    value="REGION"
                    interface="popover"
                    formControlName="Frequency"
                  >
                    <ion-select-option value="1">1Y</ion-select-option>
                    <ion-select-option value="2">2Y</ion-select-option>
                    <ion-select-option value="3">3Y</ion-select-option>
                    <ion-select-option value="4">4Y</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label position="fixed">Test Module:</ion-label>
                <ion-item>
                  <!-- <ion-input formControlName="TestModID"></ion-input> -->
                  <ion-select
                    value="TestModID"
                    interface="popover"
                    formControlName="TestModID"
                  >
                    <ion-select-option value="TM101">Grounds Test</ion-select-option>
                    <ion-select-option value="TM102">Signal Test</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label position="fixed">Priority:</ion-label>
                <ion-item>
                  <ion-select
                    value="REGION"
                    interface="popover"
                    formControlName="Priority"
                  >
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label position="fixed">Value:</ion-label>
                <ion-item>
                  <ion-input formControlName="Value"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" size="large" expand="block"
          >Save</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <p>{{log}}</p>
    </ion-row>
  </form>
</ion-content>
