<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>MARTIS</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
        <ion-item>
          <ion-icon name="add" slot="start"></ion-icon>
          Create Asset</ion-item>
        <ion-item routerLink="/">
            <ion-icon name="home" slot="start"></ion-icon>
            Test Selection
        </ion-item>
        <ion-item>
          <ion-icon name="add" slot="start"></ion-icon>
          Create Inspection
        </ion-item>
        <ion-item routerLink="/inspection-list">
          <ion-icon name="list" slot="start"></ion-icon>
          Inspections List</ion-item>
        <ion-item routerLink="/repair-list">
          <ion-icon name="list" slot="start"></ion-icon>
          Repairs List</ion-item>
        <ion-item routerLink="/repair-form">
          <ion-icon name="add" slot="start"></ion-icon>
          Create Repair</ion-item>
        <ion-item>
          <ion-icon name="text" slot="start"></ion-icon>
          Generate Report
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
