<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Asset Report Generation</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" aria-disabled="false" aria-hidden="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
     <ion-row>
      <ion-col>
        <ion-segment 
          color="danger"
          value="asset">
          <ion-segment-button  [routerLink]="['/','report-generation']" value="inspector">Inspector</ion-segment-button>
          <ion-segment-button value="asset" >Asset</ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </div>

  <ion-grid className="ion-text-center ion-margin">
    <form [formGroup]="createReportForm" (ngSubmit)="onSave()">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header mode="ios" className="cardhead">
            <ion-card-title>Search for Reports</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">Asset ID: </ion-label>
                  <ion-select
                    value="assetID"
                    interface="popover"
                    formControlName="assetID"
                  >
                    <ion-select-option *ngFor="let e of (desktop ? assets[0] : assets)"
                    value={{e.AssetID}}>{{e.AssetID}} : {{e.Region}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>From:</ion-label>
                  <ion-input formControlName="initialDate" type="date" id="initialDate" min="2019-01-01" max="2029-12-31" placeholder="Any"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>                  
                  <ion-label>To:</ion-label>
                  <ion-input formControlName="finalDate" type="date" id="finalDate"  min="2019-01-01" max="2029-12-31" placeholder="Any"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button type="submit" color="danger">
                  Search
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>    
    </form >

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header mode="ios" className="cardhead">
            <ion-card-title>
              Asset Details
            </ion-card-title>
          </ion-card-header>
          <ion-card-content *ngFor="let item of (desktop ? lst[0]: lst); let i = index">
            <ion-row *ngIf="i== 0">
              <ion-col>
                <ion-label  position="fixed">
                  Asset's Region: {{item.Region}}
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="i== 0">
              <ion-col>
                <ion-label position="fixed">
                  GPS Latitude: {{item.GPSLatitude}}
                </ion-label>
              </ion-col>
            </ion-row> 
            <ion-row *ngIf="i== 0">
              <ion-col>
                <ion-label position="fixed">
                  GPS Longitude: {{item.GPSLongitude}}
                </ion-label>
              </ion-col>
            </ion-row>   
            <ion-row *ngIf="i== 0">
              <ion-col>
                <ion-label position="fixed">
                 Asset Status: {{item.Status}}
                </ion-label>
              </ion-col>
            </ion-row>                      
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row className="ion-text-center ion-align-items-center">
      <ion-col>
        <ion-card>
          <ion-card-header mode="ios" className="cardhead">
            <ion-row>
              <ion-col>
                <ion-card-title>Inspections conducted</ion-card-title>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <ion-card-subtitle>Test No</ion-card-subtitle>
              </ion-col>
              <ion-col size="4">
                <ion-card-subtitle>Test Descripton</ion-card-subtitle>
              </ion-col>
              <ion-col size="4">
                <ion-card-subtitle>Condition</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content *ngFor="let item of (desktop ? lst[0] : lst)">
            <ion-row>
              <ion-col>
                <ion-label>{{item.TestID}}</ion-label> 
              </ion-col>
              <ion-col>
                <ion-label>{{item.comments}}</ion-label> 
              </ion-col>
              <ion-col>
                <ion-label>{{item.Result}}</ion-label> 
              </ion-col>
            </ion-row>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="danger" size="large" expand="block">
          Download as PDF
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" size="large" expand="block">
          Send to email
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
