<ion-header>
  <ion-toolbar color="danger">
    <ion-title><h2>Inspection List</h2></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" aria-disabled="false" aria-hidden="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  *ngFor="let item of lst[0]">
        <ion-card>
          <ion-card-header class="cardhead" >
            <ion-card-title >
              TestId:{{item.TestID}}
            </ion-card-title>
            <ion-card-subtitle >
              AssetId:{{item.AssetID}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>InspectorID:{{item.InspectorID}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
