.cardhead {
	background-color: rgb(235, 235, 235);
}
.priority1 {
	background-color: rgb(253, 202, 198);
}
.priority2 {
	background-color: rgb(248, 209, 165);
}
.priority3 {
	background-color: rgb(255, 233, 174);
}
.priority4 {
	background-color: rgb(229, 250, 189);
}
.priority5 {
	background-color: rgb(198, 253, 198);
}
