<ion-header>
  <ion-toolbar color="danger">
    <ion-title><h2>Inspection List</h2></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button
        menu="first"
        aria-disabled="false"
        aria-hidden="false"
      ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-segment
          (ionChange)="onFilterUpdate($event)"
          color="danger"
          value="priority"
        >
          <ion-segment-button checked value="priority"
            >Priority</ion-segment-button
          >
          <ion-segment-button value="distance">Distance</ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <div [ngSwitch]="desktop">
      <div *ngSwitchCase="false">
        <ion-row>
          <p>MOBILE</p>
          <p>{{log}}</p>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let item of lest">
            <ion-card>
              <ion-card-header class="cardhead">
                <ion-card-title> TestId:{{item.TestID}} </ion-card-title>
                <ion-card-subtitle>
                  AssetId:{{item.AssetID}}
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item>
                    <ion-label>IssuedDate:{{item.DateIssued}}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>InspectorID:{{item.InspectorID}}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Priority:{{item.Priority}}</ion-label>
                  </ion-item>
                  <!-- <ion-item>
                    <ion-label>Distance:{{item.Result}}</ion-label>
                  </ion-item> -->

                  <ion-item>
                    <ion-button
                      [routerLink]="['/','grounds-test',item.AssetID,item.TestID]"
                    >
                      Inspect
                    </ion-button>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
      <div *ngSwitchCase="true">
        <ion-row>
          <ion-col *ngFor="let item of lst[0]">
            <ion-card>
              <ion-card-header class="cardhead">
                <ion-card-title> TestId:{{item.TestID}} </ion-card-title>
                <ion-card-subtitle>
                  AssetId:{{item.AssetID}}
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item>
                    <ion-label>InspectorID:{{item.InspectorID}}</ion-label>
                  </ion-item>
                  <ion-item *ngIf="item.Priority != null">
                    <ion-label>Priority:{{item.Priority}}</ion-label>
                  </ion-item>
                  <ion-item *ngIf="item.distance">
                    <ion-label>Distance:{{item.distance}}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-button
                      [routerLink]="['/','grounds-test',item.AssetID,item.TestID]"
                    >
                      Inspect
                    </ion-button>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
</ion-content>
