<ion-content>
  <div
    style="
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <ion-card>
      <ion-card-header class="ion-align-items-center">
        <h1 class="ion-text-center">M.A.R.T.I.S</h1>
        <ion-img src="assets/1200px-Wabtec_Logo.svg.png"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <ion-button
          (click)="login()"
          color="danger"
          expand="block"
          *ngIf="desktop"
          >Login with Okta</ion-button
        >
        <div *ngIf="!desktop && firstTimeLogin">
          <ion-button routerLink="/mobile-login" color="success" expand="block"
            >Login for Mobile</ion-button
          >
        </div>
        <div *ngIf="!desktop && !firstTimeLogin">
          <ion-button routerLink="/selection" color="success" expand="block"
            >Continue to App</ion-button
          >
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
